= simple_form_for @student, :html => { :class => 'form-horizontal' } do |f|
  = f.error_notification
  = f.input :name, :class => 'text_field'      
  .control-group
    = f.label :group_id, :class => 'control-label'
    .controls
      = f.collection_select(:group_id, Group.all, :id, :name, {:include_blank => true})      
  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), students_path, :class => 'btn'
